# Ignora virtual environment
venv/
env/
winvenv/

# Ignora la cartella Data
Data
Data/Output
Data/Mat_Output
Data/Edf
Data/old_Edf
Data/weights


src/download_from_hpc.sh
src/upload_to_hpc.sh
src/prova1.ipynb
utils/__pycache__
autoencoder/__pycache__
